#cart {
	position:relative;
	.title {
		font-size:0;
		&:before {
			@extend .icon-font;
			content: "\e93a";  
			font-size: 18px;
			display: inline-block;
			vertical-align: top;
			margin-right: 5px;
		} 
	}

	.portal-minicart-ref {
		display:none;
		position: absolute;
		right:0;
		top:100%;
		z-index: 99;
		width: 340px;

		box-shadow:0 0 10px rgba(#000, 0.3);

		.vtexsc-cart {
			background:$body-bg;
			padding: 10px;

			thead {display:none;}
			td {padding: 0 10px;}

			.cartSkuImage {
				img {border:1px solid $gray-lighter;}
			}
			.cartSkuName {
				h4 {
					font-size:12px;
					a {color:$brand-info;}
				}
			}
			.cartSkuPrice {
				white-space:nowrap;
			}
			.cartSkuQuantity {
				font-weight: bold;
			}


			.cartFooter {
				border-top:1px solid $gray-lighter;
			}
		}
	}
	&:hover {

		.portal-minicart-ref {
			display: block;
		}
	}
}  