// components of Mix and Match

.rex-mix-and-match-filters-box-link{
	display:inline-block;
	text-align:center;
	min-width:50px;
	margin:10px;
	i {font-size:20px;}
	span {display:block;}
}


.rex-mix-and-match-shelf-item {
	clear:both;
	position:relative;
	padding-bottom:$grid-gutter-width/2;
	margin-bottom:$grid-gutter-width/2;
	border-bottom:1px dotted $nav-tabs-border-color;


	.rex-product-price {
		strong {font-size:12px;}
		span {display:block;}

		.best-price {
			color:$gray-dark;
		}
	}
	
	       
	span.installment {
		color:$brand-primary;
	    display: block;
	    font-size: 11px;
	}


	&:last-child {
		margin-bottom: 0;
	}

	&:after {
		content: "";
		display:block;
		clear: both;
	}

	.rex-mix-and-match-shelf-item-remove {cursor:pointer;position:absolute;top:0px;right:0px;text-decoration:none;}
	.rex-box-banner {
		float:left;
		width: 30%;
	}

	.rex-mix-and-match-shelf-item-info {
		float:left;
		width: 60%;
		padding-left:10px;
		p {font-size:11px;}
	}
}