.prod-quantify {
	position:relative;
	.field {
    	vertical-align: middle;
    	position:relative;
    	display:inline-block;
    	input {width:40px;}
	}
	span {
		background: #ccc;
		width: 12px;
		height: 6px;
		cursor: pointer;
		display: block;
		position: absolute;
		font-size: 0;
		left:110%;

		&.add-item {top:10px;}
		&.remove-item  {bottom:10px;}
	}
} 