
.rex-product-price {
	em {font-size:0;font-style:normal;}
	strong.skuBestPrice {font-size:24px;}

	em.valor-de {
	    color: #858585;
	    text-transform: uppercase;
	    strong {
		    text-decoration: none;
		    color: #ccc;
		    text-decoration: line-through; 
		    font-size: 12px;
		    font-weight: 300;

		}
	}

	.price-installments,
	.value-installment {
		color:$gray-light;
		font-size: 12px;
		color:$gray-light; 
	}
	
	.preco-a-vista {display:none !important;}
}