.navbar-form,
.search-form {
	
	padding:($navbar-height - $input-height-base)/2 $navbar-padding-horizontal;
	margin:0;
	
	fieldset.busca {

		input {width:73%;vertical-align: middle;}

		.btn-buscar {
			width: 25%;
			@extend .btn, .btn-primary;
			margin-left: 2%;
		}
	}
}


