/** normalize.Vtex.css **/

//input 

input[type=text],
select { 
	@extend .form-control;
	display:inline-block; 
}


//a

a:active, a:hover, a:focus {outline:none !important;}


//vtex.cmc:search

fieldset.busca {
	legend, label, select {display:none;}
}

  

//vtex.cmc:miniCart

#cart {
    position: relative;
    padding-top: $navbar-padding-vertical; 
    padding-bottom: $navbar-padding-vertical/2;
	> a {
	    display: block;
	    cursor: pointer; 
	    div {
	    	line-height: 21px;
	    	vertical-align: middle; 
	    	display: inline-block;
		}
	}
	
	ul,li {
		padding:0;
		margin: 0;
		display: inline-block;
	}
	li {
	    display: none;
	}
	li.amount-items {
	    display: inline-block;
	}
	li.amount-items strong {
	    display: none;
	}
	.title {
		margin-right:4px;
	}

}


//vtex.cmc:welcomeMessage

.welcome {
	margin:0; 
	a {cursor:pointer;} 
} 
 

//vtex.cmc:breadCrumb

.bread-crumb {
	ul {
		@extend .breadcrumb;

		li:first-child {display:none;}
		li:nth-child(2):before {display:none;}
	}
}


//vtex.cmc:searchNavigator


.rex-search-filters {
//!important: the parent "rex-search-filters" must be inserted in html before the control	

	.menu-navegue {
		display:none;
	}
	
	.search-single-navigator,
	.search-multiple-navigator {
		@extend .panel, .panel-default;
	}


	h3, 
	.search-single-navigator h5 { 
		margin:0;
		@extend .panel-heading;
		font-size: inherit;
		color: $panel-default-text;
	    background-color: $panel-default-heading-bg;
	    border-color: $panel-default-border;
	    line-height: 17px;
	    

	    a {color: $panel-default-text;text-decoration:none;display:block;}

	}
	.search-filter-button,
	.orderBy,
	.productClusterSearchableIds {display:none;}


	.search-multiple-navigator {
		
		h4 {
			margin:0;
			font-size:inherit;
			a {
				@extend .list-group-item;
				line-height:17px;
				font-weight:bold;
				border-width: 0 0 1px 0;	
			}
		}

		h3+ul,
		h4+ul {
			list-style:none;
			padding:0;
			margin:0;
			li {
				a {
					@extend .list-group-item;
					border-width: 0 0 1px 0;
					border-radius:0 !important;
				}
			}
		}
		fieldset.refino {
	    	h5 {
	    		@extend .list-group-item;
				border-width: 1px 0;
				border-radius: 0;
	    		font-size: inherit;
	    		margin:0;
	    		line-height: 17px;
	    		font-weight:bold;

	    		&:after {
	    			content: "";
	    			@extend .caret;
	    			float: right;
	    			margin-top: 7px;

	    		}
	    	}


	    	> div {
	    		
	    		label { 
	    			display: block;
	    			cursor: pointer;
	    			font-weight: normal;
	    			@extend .list-group-item;
					border-width: 1px 0;
					border-radius: 0;

					&:first-child {border-top:none;}
					&:last-child {border-bottom:none;}

	    			input {
	    				margin-right:5px;
	    				position: relative;
	    				top: 2px;
	    			}
	    			
	    		}
	    	}
		}
	}

	.search-single-navigator {

		h4 {
			margin:0;
			font-size: inherit;
			a {
				@extend .list-group-item;
				border-width: 1px 0 0 0;
		    	border-radius: 0 !important;
			}
		}
		h4+ul {display:none;}
		ul {padding:0;margin:0;}
		li {
			list-style: none;
			a {
				@extend .list-group-item;
				border-width: 1px 0 0 0;
		    	border-radius: 0 !important;
			}
		}
	}

 
}



//vtex.cmc:searchResult


.searchResultsTime,
.sub .filterBy,
.sub .compare {display:none;}

.sub {
	text-align:right;
	.orderBy,
	.order-by {
		@extend .form-group;
		display:inline-block;
		label {margin:0 10px 0 0;}
		select {width:auto;}
	}

	&:last-child {
	    display: none;
	}

	.rex-open-filters {
		margin:0 $grid-gutter-width/2 0 0;
		@extend .visible-sm-inline-block, .visible-xs-inline-block ;
	}

	@media (max-width: $screen-md-min - 1) {
		text-align: center;
		.orderBy,
		.order-by {
			label {display:none;}
			select {width:100%;}
		}
		.btn, .orderBy, .order-by {width:30% !important;}
	}
}

.resultItemsWrapper {

	.pager {
		&.top {display:none;}
		.pages {
			@extend .pagination;
			li {
				position: relative;
			    float: left; // Collapse white-space
			    padding: $padding-base-vertical $padding-base-horizontal;
			    line-height: $line-height-base;
			    text-decoration: none;
			    color: $pagination-color;
			    background-color: $pagination-bg;
			    border: 1px solid $pagination-border;
			    margin-left: -1px;
			    cursor: pointer;


			    &:hover {
			    	z-index: 2;
			    	color: $pagination-hover-color;
			    	background-color: $pagination-hover-bg;
			    	border-color: $pagination-hover-border;
			    }


			    &.first,
			    &.last {font-size:0;}

			    &.first:before {
					content: "\00ab";
					font-size: $font-size-base;
				}
				&.last:before {
					content: "\00bb";
					font-size: $font-size-base;
				}
			    &.first,
			    &:first-child {
			        @include border-left-radius($border-radius-base);
			        
			    }
			    &.last,
			    &:last-child {
			        @include border-right-radius($border-radius-base);
			        
			    }

			}
		}
	}

}


//vtex.cmc: buyButton

.buy-button {
	@extend .btn; 
}
.unavailable-button {
	@extend .label, .label-default; 
}
