
/*
#
#	header 1
#
*/



#header.rex-header-v1 {


	.navbar-form {border:none;}

	.cart-mobile {
	    position: absolute;
	    right: 10px;
	    top: 0;
	}

	.navbar-toggle {right:50px;}

	#cart {
		.title {color:$brand-success;}
		.cart-info {color:$brand-success;}
	}

} 


/*
#
#	header 2
#
*/


#header.rex-header-v2 {


	.rex-wrapper {padding:$navbar-padding-vertical 0;}

	
	.logo-wrap {
		.logo {display:inline-block;line-height:$navbar-height;}
	}

	.navbar-form {border:none;width:30%;} 

	.navbar-collapse {

		@media (max-width: $screen-sm-min - 1) {
			padding-top:0;
			box-shadow:none;
		}
	}

	.menu {
		background:$navbar-default-link-active-bg;
	}

	.cart-mobile {
	   float:right;
	}

	#cart {
		.title {color:$white;}
		.cart-info {color:$gray-lighter;}
	}

	.navbar-toggle {right:10px;} 
}


/*
#
#	header 3
#
*/

#header.rex-header-v3 {
	
	.rex-wrapper {padding:$navbar-padding-vertical 0;}


	.logo-wrap {
		text-align: center;
		
		.logo {display:inline-block;line-height:$navbar-height;}
	}


	.search-form {
		.busca {
			display: block;
			width: 100%; 
		}
	}
 
	.welcomeMessage {  
	    line-height:  $input-height-base;
	    padding:($navbar-height - $input-height-base)/2 0;

	    color:$white;

	    a {
	    	color:$brand-primary;
	    }
	}

	.menu {
		background:$navbar-default-link-active-bg;
	}

	#cart {
		.title {color:$white;}
		.cart-info {color:$gray-lighter;}
	}

	.shop-links {
		.icon-search {
			display: inline-block;
			color: $white;
			padding:$navbar-padding-vertical 10px;
			font-size: 18px;
			cursor: pointer; 
		}
	}

	@media (min-width: $screen-md-min) {
		.collapse {display:block;}
	}
	@media (max-width: $screen-sm-min - 1) {

	
		.shop-links  {	
			position:absolute;
			top:20px;
			right:10px;
			margin:0;
			a {padding:0 5px;}
			li {float:left;line-height:20px;}
		}
		
	}

} 




  