.rex-content-institutional-txt {
	h1 {
		margin: 0 0 $navbar-padding-vertical 0;
	}

	.rex-box-banner {margin:0 0 $navbar-padding-vertical 0;}
}


.rex-form {
	.form-group {
		.control-label {padding-top:12px;}
	}
}

.rex-shops-list {
	address {
		margin:0 0 10px 0;
		font-style:italic;
	}
}


.rex-search-shops-button {
	margin-top:$line-height-computed+5;
}


#map-canvas {
	height:400px;
	width:100%;
}