.rex-product-image {
	#show {
		@extend .row;

		#include {
			@extend .col-md-9, .col-xs-12;
			float:right;
			a, img {width:100%;display:block;}
		}
		.thumbs {
			@extend .col-md-3, .col-xs-12;
			list-style: none;

			li {margin:0 0 $grid-gutter-width/3 0;clear:both;}

			img, a {
				display: block;
				width: 100%;
				height: auto;
			}

			@media (max-width: $screen-sm-max) {
				padding-top:20px;
				clear:both; 
				float:none;
				li {float:left;width:20%;clear:none;}
			}
		}


	}

	&.bottom {
		#show {
			#include {
				@extend .col-xs-12;
				margin-bottom: $grid-gutter-width;
			}
			.thumbs {
				@extend .col-xs-12;
				li {
					clear:none;
					width: 18%;
					float:left;
					margin:0 1%;
				}
			}
		}
	}


}