.rex-product-info {
	text-align:center;
	padding: $grid-gutter-width $grid-gutter-width 0 $grid-gutter-width;
    border: 1px solid #e1e1e1;
	h1 {
		text-transform: uppercase;
		margin: 0;
	}

	.ref {
		* {display:inline;}
		font-size: 10px;
	}


	.rex-product-desc {
		color:$gray-light;
		padding:20px 0 0 0;
	}

}


.rex-sku-select {
    overflow: hidden;
    clear: both;
    padding:0 0 $grid-gutter-width/2-5 0;
    position:relative;
    margin:$grid-gutter-width/2 0;

    &:before,
    &:after {
    	content:"";
    	width: 40%;
    	height: 1px;
    	background:$gray-lighter;
    	position:absolute;
    	left:50%;
    	margin-left: -20%;
    }

    &:before {top:0;}
    &:after {bottom:0;}


    .topic {
	    overflow: hidden;
	    margin:0;
	    padding:$grid-gutter-width/2 0 $grid-gutter-width/2-5 0;
	    list-style: none;
	}
	li.specification {
	    border: none;
	    color: #000;
	    font-weight: bold;
	    text-transform: uppercase;
	    font-size: 11px;
	    padding-bottom: 10px;
	}
	
	.skuList {
		span {display:inline-block;}
		label {
		    position: relative;
		    min-width: 27px;
		    height: 27px;
		    margin:0 5px 5px 5px;
		    color:#e1e1e1;
		    border-radius: 1px;
		    box-shadow: inset 0 0 0 2px $white;
		    color: $gray-dark;    
		    text-align: center;
		    font-weight: bold;
		    display: inline-block;
		    transition: all .3s ease;
		    cursor: pointer;
		    vertical-align: middle;
		}
		label.dimension-Cor {
		    font-size: 0;
		}
		label.dimension-Tamanho {    
		    width: 30px; 
		    height: 30px;
		    font-size: 11px;    
		    text-transform: uppercase;
		    line-height: 30px;
		    text-align: center;
		}
		input {
		    display: none;
		}
		label.sku-picked {
		    outline: 1px solid $gray-light;
		}
		label.sku-picked.disabled,
		label.disabled {
		    opacity: 0.2;
		}
	}
	
}



.rex-share {
	text-align:center;
	padding:$grid-gutter-width/2 0;
}

.rex-product-buy-button-wrap,
.product-size-table-link {
	margin:0 0 $grid-gutter-width/2 0;
}

.product-size-table-link {
	a {
		@extend .btn-link;
	}
}