.rex-shelf {
	ul,li {
		list-style:none;
	}

	%rex-shelf-style {
		margin:0; 
		@extend .col-lg-4, .col-xs-6;
		margin-bottom: $grid-gutter-width;


		.shelf-wrap {
			border:1px solid $gray-lighter;
			padding:5px;
			border-radius:$border-radius-base;
		}
		.shelf-product-image {
			a, img {
				display: block;
				width: 100%; 
				height: auto;
			}
		}

		.shelf-product-info {
			padding:10px;
		}

		.shelf-product-name a {
			color:$brand-primary;
		}
		
		.product-price {
			a {color:$gray;}
		}
		
		       
		span.installment {
			color:$brand-primary;
		    display: block;
		    font-size: 11px;
		}
	}
	
	
	> ul, [id^="ResultItems"] ul, [id*=" ResultItems"] ul {
		@extend .row;
		margin-bottom: -($grid-gutter-width);
		padding:0;
		li {
			@extend %rex-shelf-style;		    
		}
	}

	
}