.rex-search-filters {
	position:relative;
	.rex-close-filters {
		position:absolute;
		top:5px;
		right: 10px;
		font-size: 20px;
		font-weight: bold;
		cursor: pointer;  
		display: none;
		@extend .visible-sm, .visible-xs;
	}


	@media (max-width: $screen-md-min - 1) {
		position: fixed;
		left:0;
		top:0;
		height: 100%;
		width: 40%;
		overflow: auto;
		z-index: 10;
		background: #FFF;
		@include opacity(0);
		@include transition(all ease 0.3s);
		left:-100%;

		.panel {margin:0;}

		@media (max-width: $screen-xs-min - 1) {
			width: 70%;
		}
	}
}


.rex-filter-active {
	overflow:hidden;
	&:before {
		content:"";
		position:fixed;
		width:100%;
		height: 100%;
		top:0;
		left:0;
		background:$gray-base;
		@include opacity(0.8);
		z-index: 9;

	}
	.rex-search-filters {

		@include opacity(1);
		left:0;
	}
}



.panel {
  .panel-heading {
    font-weight:bold;
    h5 {margin:0;}
  }

  .list-group-item {
  	line-height: $line-height-computed;

  	input {float: left;margin:2px 5px 0 0;}
  	label {
  		margin:0;
  		font-weight: normal;
  		cursor: pointer;
  	}
  }

  .list-group {
  	.list-group-sub {
  		border-top: 1px solid $panel-inner-border;
	  	.list-group-item {
	  		border:none;
	  	}
	}
  }
  

  .list-group-parent {
  	&:after {
  		content: "";
  		@extend .caret;

  	}
  }
}