@font-face {
  font-family: 'icomoon';
  src:  url('../ico/icomoon.eot?2bp2r3');
  src:  url('../ico/icomoon.eot?2bp2r3#iefix') format('embedded-opentype'),
    url('../ico/icomoon.ttf?2bp2r3') format('truetype'),
    url('../ico/icomoon.woff?2bp2r3') format('woff'),
    url('../ico/icomoon.svg?2bp2r3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
.icon-font, [class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
.icon-cog:before {
  content: "\e994";
}


