//organism Mix and Match

.rex-mix-and-match-filters-box {
	position:relative;
	.panel {
		cursor:pointer; 		
	}
	.popover {
		position:absolute;
		width: 190px;
		left:100%;
		transform: translateY(-50%);
   		top: 50%;
   		display: initial;
   		z-index: -1;
   		margin-top:-10px;
	}

	&:hover {
		.popover {
			@extend .fade, .in;
			display: block;
			z-index: 2;
		}
	}

	@media (max-width: $screen-sm-min - 1) {
		position: initial;
		.popover {
			position: absolute;
		    left: 0;
		    top: 100%;
		    transform: none;
		    width: 100%;
		    margin: 0;
		    max-width: 100%;
		    margin-bottom: $line-height-computed;
		 

		    .arrow {display:none !important;}
		}
	}
} 




$rex-mm-height:480px;

.rex-mix-and-match-shelf {
	margin-top:8.5px;
	height:$rex-mm-height;
	overflow:auto;
	padding-bottom:20px;

	.rex-shelf > ul > li {
		@extend .col-xs-6;

		@media (max-width: $screen-xs-min - 1) {
			width: 100%;
		}
	}


	@media (max-width: $screen-sm-min - 1) {
		height: auto;
	}
}

.rex-mix-and-match {
	@media (max-width: $screen-md-min - 1) {

		.rex-mix-and-match-shelf-buy {
			padding:$grid-gutter-width/2;
		}

		#rex-mm-list {
			border-width:1px;
		}

		.rex-mix-and-match-box-wrapper {
		    position: fixed;
		    left: 0;
		    top: 0;
		    z-index: 100;
		    background: #FFF;
		    margin: 0;
		    height: 100%;
		    overflow: auto;
		}

		.rex-mix-and-match-box-wrapper .rex-mix-and-match-box .rex-mix-and-match-shelf-buy {
		    max-height: 1000px !important;
		}
		ul.nav.nav-tabs {
		    position:fixed;
		    left:20px;
		    top:40%;
		    z-index:60;
		    background:#FFF;
		    width:15%;
		    min-width:110px;

		    li {
		        float:none;
		    }
		    li a {
		        border:1px solid $nav-tabs-border-color !important;
		    }
		}
		    
	}
}

#rex-mm-list {
	border:1px solid $nav-tabs-border-color;
	border-width:0 1px 1px 1px;
	border-radius: 0 $border-radius-base $border-radius-base $border-radius-base;

	&:after {
		content: "";
		clear: both;
		display: block;
	}
	.tab-pane {
	}
} 


.rex-mix-and-match-box-wrapper {
	margin-top:95px;

	.rex-mix-and-match-box {
		border:1px solid $nav-tabs-border-color;
		border-radius: $border-radius-base;
		height:$rex-mm-height+11;
		padding-bottom:20px;

		.panel-heading {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.rex-mix-and-match-box-content {
			padding:0 $grid-gutter-width/2;
		}


		.rex-mix-and-match-shelf-prods {
			min-height: $rex-mm-height - 100;
			.rex-box-banner {
				max-width:130px;
				margin:0 auto $grid-gutter-width/2 auto;
				&:last-child {margin-bottom:0;}
			}
		}
		.rex-mix-and-match-shelf-buy {
			max-height: $rex-mm-height - 110;
			padding-left:$grid-gutter-width/2;
			overflow: auto;
			margin-bottom: 10px;

			.mCSB_container {margin-right:20px;}
			
		}


		@media (max-width: $screen-md-min - 1) {
			height: auto;
			.rex-mix-and-match-shelf-prods {height:auto;}
		}
	}
}


